/* ------- Logo ------- */

.logo-container {
    margin-bottom: 3%;
}

/* ------- Main ------- */

.form-container {
    padding: 30px 0;
}

/* ------- Form ------- */

.data-container {
    grid-template-rows: 1fr 1fr;
}
