.main-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

/* ------- Product list ------- */

.product-listing {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 1600px) {
    .product-listing {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1230px) {
    .product-listing {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 800px) {
    .product-listing {
        grid-template-columns: 1fr;
    }
}

/* ------- Product card ------- */

.product-card {
    font-size: 16px;
    margin: 10px;
}

.product-img-and-info-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.product-img-container {
    height: 150px;
    display: flex;
}

.product-img {
    align-self: center;
    margin: 0;
    width: 150px;
    height: auto;
    max-height: 150px;
}

.product-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: max-content;
    margin-left: 5px;
}

.quantity-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.product-options-container {
    display: flex;
    justify-content: space-between;
}

.btn-outline-secondary {
    font-size: 15px;
    min-width: 100px;
    width: max-content;
}

/* --------- Footer --------- */

.cart-price-and-options-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--main-border-color);
}

.total-price-container {
    font-family: var(--text-font);
    font-size: 20px;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
