.container {
    justify-content: space-between;
    min-height: auto;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-header {
    justify-content: space-evenly;
}

.contact-dropdown {
    display: block;

}

.label {
    text-align: center;
    margin: 20px 10px;
    max-width: 400px;
}

.btn-container {
    width: 100%;
    justify-content: center;
}
