.main-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* ------- Order card ------- */

.order-card {
    font-family: var(--text-font);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px 15px;
    height: min-content;
    outline: 1px solid #21003a;
    border-radius: 2px;
}

.text {
    padding: 2px;
    margin: 0;
    color: #000;
}

/* ------- Order options ------- */

.order-options {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 0 20px;
}

.btn {
    margin: 0;
}

/* ------- Product list ------- */

.order-products-listing {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 20px;
}

.label {
    text-align: left;
    margin: 0;
}

.product-listing {
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 1600px) {
    .product-listing {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1230px) {
    .product-listing {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 800px) {
    .product-listing {
        grid-template-columns: 1fr;
    }
}

/* ------- Product card ------- */

.product-card {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.product-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: max-content;
    margin-left: 5px;
}
