<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Admin: Edit Product</title>
    <link rel="stylesheet" href="/css/bases/general_base.css" />
    <link rel="stylesheet" href="/css/bases/main_base.css" />
    <link rel="stylesheet" href="/css/pages/user/product.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Architects+Daughter&family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap"
            rel="stylesheet" />
</head>
<body>
<header class="logo-container">
    <p class="logo-header">HandCrafted</p>
    <p class="logo-text">The place where you'll find what you've been looking for</p>
</header>
<main class="container main-container">
    <div class="header">
        <div class="header-menu-left">
            <a th:href="@{/admin/products}">
                <button class="back-btn" id="back_btn" onclick="goBack()">
                    <img
                            id="back_icon"
                            src="/icons/back_icon1.png"
                            width="20px"
                            height="20px" />
                </button>
            </a>
            <a th:href="@{/admin/menu}">
                <button class="menu-btn" id="menu_btn">
                    <img
                            id="menu_icon"
                            src="/icons/menu_icon1.png"
                            width="30px"
                            height="30px" />
                    <p>Menu</p>
                </button>
            </a>
        </div>
    </div>

    <div class="main">
        <form th:action="@{/admin/products}" th:object="product" method="POST" class="product-form-container">
            <div class="product-info-left">
                <div class="product-photo-container">
                    <a href="#" class="left">
                        <img src="/icons/back_icon1.png" />
                    </a>

                    <img
                            src="/icons/image.png"
                            class="product-photo"
                            width="150px"
                            height="150px" />

                    <a href="#" class="right">
                        <img src="/icons/back_icon1.png" />
                    </a>
                </div>

                <div class="product-photo-options">
                    <button class="btn btn-outline-secondary" id="delete_photo_btn">
                        Delete This Photo
                    </button>
                    <button class="btn btn-outline-primary" id="add_photo_btn">
                        Add New Photo
                    </button>
                </div>
            </div>

            <div class="product-info-right">
                <input
                        th:field="*{name}"
                        type="text"
                        class="text-box"
                        placeholder="Name of product"
                        minlength="3"
                        maxlength="25"
                        required />

                <label for="description" class="product-info-label">Description:</label>
                <input
                        th:field="*{description}"
                        type="text"
                        class="text-box"
                        id="description"
                        placeholder="Description of the product"
                        minlength="5"
                        maxlength="255"
                        required />

                <label for="colors" class="product-info-label">Colors:</label>
                <input
                        th:field="*{colors}"
                        type="text"
                        class="text-box"
                        id="colors"
                        placeholder="Color, color" />

                <label for="key_words" class="product-info-label">Key Words:</label>
                <input
                        th:field="*{keyWords}"
                        type="text"
                        class="text-box"
                        id="key_words"
                        placeholder="Word, word, word"
                        minlength="5"
                        maxlength="255"
                        required />
            </div>

            <div class="product-info-bottom">
                <div class="product-price-and-discount-container">
                    <div class="text-box-container">
                        <label for="price" class="product-info-label">Price:</label>
                        <input
                                th:field="*{price}"
                                type="number"
                                class="text-box"
                                id="price"
                                placeholder="20"
                                min="0"
                                max="10000"
                                required />
                    </div>

                    <div class="checkbox-container">
                        <input
                                th:field="*{withDiscount}"
                                type="checkbox"
                                id="discount_checkbox"
                                onchange="  var btn=getElementById('discount_checkbox')
                                                var d1=getElementById('discounted_price_container')
                                                if (btn.checked) {
                                                    d1.disabled=false
                                                }
                                                else {
                                                    d1.disabled=true
                                                }" />
                        <label for="discount_checkbox" class="product-info-label">Discount</label>
                    </div>

                    <div class="text-box-container" id="discounted_price_container">
                        <label for="discounted_price" class="product-info-label">Discounted price:</label>
                        <input
                                th:field="*{discountedPrice}"
                                type="number"
                                class="text-box"
                                id="discounted_price"
                                placeholder="20"
                                min="0"
                                max="10000" />
                    </div>
                </div>

                <div class="product-stock-container">
                    <div class="checkbox-container">
                        <input
                                th:field="*{inStock}"
                                type="checkbox"
                                id="in_stock_checkbox"
                                onchange="  var btn=getElementById('in_stock_checkbox')
                                                var d1=getElementById('quantity_container')
                                                if (btn.checked) {
                                                    d1.disabled=false
                                                }
                                                else {
                                                    d1.disabled=true
                                                }" />
                        <label for="in_stock_checkbox" class="product-info-label">In stock</label>
                    </div>

                    <div class="text-box-container" id="quantity_container">
                        <label for="quantity" class="product-info-label">Quantity:</label>
                        <input
                                th:field="*{quantity}"
                                type="number"
                                class="text-box"
                                id="quantity"
                                placeholder="20"
                                min="0"
                                required />
                    </div>
                </div>

                <div class="product-category-and-options-container"></div>
            </div>
        </form>
    </div>
</main>
</body>
</html>
