<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Admin: Edit Product</title>
    <link rel="stylesheet" href="/css/bases/general_base.css" />
    <link rel="stylesheet" href="/css/bases/main_base.css" />
    <link rel="stylesheet" href="/css/pages/admin/product.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Architects+Daughter&family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap"
            rel="stylesheet" />
</head>
<body>
<header class="logo-container">
    <p class="logo-header">HandCrafted</p>
    <p class="logo-text">The place where you'll find what you've been looking for</p>
</header>
<main class="container main-container">
    <div class="header">
        <div class="header-menu-left">
            <a th:href="@{/admin/products}">
                <button class="back-btn" id="back_btn" onclick="goBack()">
                    <img
                            id="back_icon"
                            src="/icons/back_icon1.png"
                            width="20px"
                            height="20px"
                            alt="back button" />
                </button>
            </a>
            <a th:href="@{/admin/menu}">
                <button class="menu-btn" id="menu_btn">
                    <img
                            id="menu_icon"
                            src="/icons/menu_icon1.png"
                            width="30px"
                            height="30px"
                            alt="menu button" />
                    <p>Menu</p>
                </button>
            </a>
        </div>
    </div>

    <form onsubmit="submitEditProduct(event)" class="product-form-container">
        <div class="product-info-top">
            <div class="product-info-left">
                <div class="product-photo-container">
                    <img
                            th:if="${oldProduct.photo}"
                            th:src="@{/api/v1/photos/{id}(id=${oldProduct.id})}"
                            class="product-photo"
                            alt="photo of the product" />
                    <img
                            th:unless="${oldProduct.photo}"
                            src="/icons/image.png"
                            class="product-photo"
                            alt="photo of the product" />
                </div>

                <div class="product-photo-options">
                    <label for="photo" class="btn btn-outline-secondary">Change Photo</label>
                    <input
                            type="file"
                            id="photo"
                            accept=".jpg, .jpeg, .png"
                            class="photo-input" />
                </div>
            </div>

            <div class="product-info-right">
                <input
                        th:value="${oldProduct.name}"
                        id="name"
                        type="text"
                        class="text-box"
                        placeholder="Name of product"
                        minlength="3"
                        maxlength="25"
                        required />

                <label for="description" class="product-info-label">Description:</label>
                <textarea
                        th:text="${oldProduct.description}"
                        id="description"
                        class="text-box"
                        placeholder="Description of the product"
                        minlength="5"
                        maxlength="255"
                        required>
                </textarea>

                <label for="colors" class="product-info-label">Colors:</label>
                <textarea
                        th:text="${oldProduct.colors}"
                        id="colors"
                        class="text-box"
                        placeholder="color, color"
                        minlength="3"
                        maxlength="255"
                        required>
                </textarea>

                <label for="key_words" class="product-info-label">Key Words:</label>
                <textarea
                        th:text="${oldProduct.keyWords}"
                        id="key_words"
                        class="text-box"
                        placeholder="Word, word, word"
                        minlength="5"
                        maxlength="255"
                        required>
                </textarea>
            </div>
        </div>

        <div class="product-info-bottom">
            <div class="product-price-and-discount-container">
                <div class="text-box-container">
                    <label for="price" class="product-info-label">Price:</label>
                    <input
                            th:value="${oldProduct.price}"
                            id="price"
                            class="text-box"
                            placeholder="20"
                            maxlength="8"
                            pattern="[0-9]{1,5}(\.[0-9]{1,2})?"
                            required />
                </div>

                <div class="checkbox-container">
                    <input
                            th:checked="${oldProduct.withDiscount}"
                            id="with_discount_checkbox"
                            type="checkbox"
                            onchange="  let btn=getElementById('with_discount_checkbox')
                                            let d1=getElementById('discounted_price')
                                            d1.disabled=!btn.checked;" />
                    <label for="with_discount_checkbox" class="product-info-label">Discount</label>
                </div>

                <div class="text-box-container">
                    <label
                            for="discounted_price"
                            class="product-info-label">
                        Discounted price:
                    </label>
                    <input
                            th:value="${oldProduct.discountedPrice}"
                            name="discounted_price"
                            class="text-box"
                            id="discounted_price"
                            placeholder="20"
                            maxlength="8"
                            pattern="[0-9]{1,5}(\.[0-9]{1,2})?"
                            required
                            th:disabled="${not oldProduct.withDiscount}" />
                </div>
            </div>

            <div class="product-stock-container">
                <div class="checkbox-container">
                    <input
                            th:checked="${oldProduct.inStock}"
                            id="in_stock_checkbox"
                            type="checkbox"
                            onchange="  let btn=getElementById('in_stock_checkbox')
                                            let d1=getElementById('quantity')
                                            d1.disabled=!btn.checked;" />
                    <label for="in_stock_checkbox" class="product-info-label">In stock</label>
                </div>

                <div class="text-box-container">
                    <label
                            for="quantity"
                            class="product-info-label">
                        Quantity:
                    </label>
                    <input
                            th:value="${oldProduct.quantity}"
                            id="quantity"
                            type="number"
                            class="text-box"
                            placeholder="20"
                            min="0"
                            required
                            th:disabled="${not oldProduct.inStock}" />
                </div>
            </div>

            <div class="product-category-and-options-container">
                <div class="category-container">
                    <label for="category" class="product-info-label">Category:</label>
                    <select
                            id="category"
                            class="category-select"
                            required>
                        <option
                                th:each="category : ${categories}"
                                th:text="${category.name}"
                                th:value="${category.id}"
                                th:selected="${category.id == oldProduct.category.id}"
                                class="category-option">
                        </option>
                    </select>
                </div>

                <div class="options-container">
                    <button
                            type="button"
                            class="btn btn-outline-danger delete-product-btn"
                            th:id="${oldProduct.id}">
                        Delete
                    </button>
                    <a th:href="@{/admin/products}">
                        <button
                                type="button"
                                class="btn btn-outline-secondary"
                                id="cancel_btn">
                            Cancel
                        </button>
                    </a>
                    <button
                            type="submit"
                            class="btn btn-outline-primary save-product-btn"
                            th:id="${oldProduct.id}">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </form>
</main>
<script type="text/javascript" th:src="@{/js/edit_product.js}"></script>
</body>
</html>
