<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin: Редагувати контакти</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <link rel="stylesheet" href="/css/bases/general.css" />
    <link rel="stylesheet" href="/css/bases/main.css" />
    <link rel="stylesheet" href="/css/pages/user/fill_order_data.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap"
            rel="stylesheet" />

    <style>
        .alert {
            margin-bottom: 20px;
        }

        .data-container {
            grid-template-columns: 1fr;
        }
        .input-container {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1.5fr;
        }
    </style>
</head>
<body>
<header th:insert="layout :: header"></header>

<main class="container main-container">
    <form th:action="@{/admin/contacts}" th:object="${oldContacts}" method="POST" class="form-container">
        <div class="data-container">
            <div th:if="${msgResult}" role="alert" th:text="${msgResult}" class="alert"></div>

            <div th:each="contact, iStat : *{shopContacts}" class="input-container">
                <label th:for="'contact-' + ${iStat.index}" class="label">[[${contact.name.name}]]:</label>
                <input
                        type="hidden"
                        th:name="shopContacts[__${iStat.index}__].id"
                        th:value="${contact.id}" />
                <input
                        type="hidden"
                        th:name="shopContacts[__${iStat.index}__].name"
                        th:value="${contact.name}" />
                <input
                        type="text"
                        class="text-box"
                        th:name="shopContacts[__${iStat.index}__].value"
                        th:id="'contact-' + ${iStat.index}"
                        th:value="${contact.value}"
                        placeholder="Введіть контакт" />
            </div>
        </div>

        <div class="options-container">
            <a th:href="@{/admin/menu}">
                <button type="button" class="btn btn-outline-secondary" id="cancel_btn">Скасувати</button>
            </a>
            <button type="submit" name="submit" class="btn btn-outline-primary" id="edit_contacts_btn">Зберегти</button>
        </div>
    </form>
</main>
</body>
</html>

