<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin: Редагувати категорію</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <link rel="stylesheet" href="/css/bases/general.css" />
    <link rel="stylesheet" href="/css/bases/main.css" />
    <link rel="stylesheet" href="/css/pages/admin/category.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap"
            rel="stylesheet" />
</head>
<body>
<header th:insert="layout :: header"></header>

<main class="container main-container">
    <div class="header">
        <div class="header-menu-left">
            <a th:href="@{/admin/categories}">
                <button class="back-btn" id="back_btn">
                    <img
                            id="back_icon"
                            src="/icons/back_icon1.png"
                            width="20px"
                            height="20px"
                            alt="кнопка повернення" />
                </button>
            </a>
            <a th:insert="layout :: admin-menu"></a>
        </div>
    </div>

    <form th:action="@{/admin/categories/{id}(id=${oldCategory.id})}" th:object="${newCategory}" method="POST" class="category-form-container">
        <div class="category-info">
            <label for="name" class="category-info-label">Назва категорії:</label>
            <input
                    th:value="${oldCategory.name}"
                    name="name"
                    type="text"
                    class="text-box"
                    id="name"
                    placeholder="Назва категорії"
                    minlength="3"
                    maxlength="30"
                    required />

            <label for="description" class="category-info-label">Опис:</label>
            <textarea
                    th:text="${oldCategory.description}"
                    name="description"
                    class="text-box"
                    id="description"
                    placeholder="Короткий опис"
                    minlength="5"
                    maxlength="255"
                    required>
            </textarea>
        </div>

        <div class="options-container">
            <button
                    type="button"
                    class="btn btn-outline-danger delete-category-btn"
                    th:id="${oldCategory.id}">
                Видалити
            </button>
            <a th:href="@{/admin/categories}">
                <button
                        type="button"
                        class="btn btn-outline-secondary"
                        id="cancel_btn">
                    Скасувати
                </button>
            </a>
            <button
                    type="submit"
                    class="btn btn-outline-primary"
                    id="save_category_btn">
                Зберегти
            </button>
        </div>
    </form>
</main>
<script type="text/javascript" th:src="@{/js/admin/edit_category.js}"></script>
</body>
</html>