<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin: Категорії</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <link rel="stylesheet" href="/css/bases/general.css" />
    <link rel="stylesheet" href="/css/bases/main.css" />
    <link rel="stylesheet" href="/css/pages/admin/list_of_categories.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap"
            rel="stylesheet" />
</head>
<body>
<header th:insert="layout :: header"></header>

<main class="container main-container">
    <div class="header">
        <div class="header-menu-left">
            <a th:href="@{/admin/products}">
                <button class="back-btn" id="back_btn">
                    <img
                            id="back_icon"
                            src="/icons/back_icon1.png"
                            width="20px"
                            height="20px"
                            alt="кнопка повернення" />
                </button>
            </a>
            <a th:insert="layout :: admin-menu"></a>
        </div>
    </div>

    <div class="options-container">
        <a th:href="@{/admin/categories/add}">
            <button class="btn btn-outline-secondary">
                Додати нову категорію
            </button>
        </a>
    </div>

    <div th:if="${message}" role="alert" th:text="${message}" class="alert"></div>
    <div th:unless="${message}"></div>

    <div class="main">
        <div th:unless="${categories.isEmpty()}" class="category-listing">
            <div th:each="category : ${categories}">
                <a th:href="@{/admin/categories/__${category.id}__/edit}">
                    <div class="category-card">
                        <p class="text" th:text="'Назва категорії: ' +${category.name}"></p>
                        <p class="text" th:text="'Опис: ' +${category.description}"></p>
                    </div>
                </a>
            </div>
        </div>

        <div th:if="${categories.isEmpty()}" class="empty-msg">Категорій не знайдено</div>
    </div>
</main>
</body>
</html>