<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin: Огляд замовлення</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <link rel="stylesheet" href="/css/bases/general.css" />
    <link rel="stylesheet" href="/css/bases/main.css" />
    <link rel="stylesheet" href="/css/pages/order.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap"
            rel="stylesheet" />

    <style>
        .text-box {
            margin: 0;
            padding: 0 10px;
            width: 210px;
        }
    </style>
</head>
<body>
<header th:insert="layout :: header"></header>

<main class="container main-container">
    <div class="header">
        <div class="header-menu-left">
            <button class="back-btn" id="back_btn" onclick="goBack()">
                <img
                        id="back_icon"
                        src="/icons/back_icon1.png"
                        width="20px"
                        height="20px"
                        alt="кнопка повернення" />
            </button>
            <a th:insert="layout :: admin-menu"></a>
        </div>
    </div>

    <div class="main">
        <div class="order-card">
            <p class="text" th:text="'Номер замовлення: ' +${order.id}"></p>
            <p class="text" th:text="'Користувач: ' +${order.user.name} +' ' +${order.user.surname}"></p>
            <p class="text" th:text="'Номер телефону: +380' +${order.userPhone}"></p>
            <p class="text" th:text="'Вартість: ' +${order.price} +'₴'"></p>
            <p class="text" th:text="'Тип отримання замовлення: ' +${order.typeOfReceipt.getName()}"></p>
            <p class="text" th:text="'Дата й час створення замовлення: ' +${order.formationDate}"></p>
            <p th:if="${!order.orderComments.isEmpty()}"
               class="text"
               th:text="'Коментарі до замовлення: ' +${order.orderComments}">
            </p>
            <p class="text" th:switch="${order.status.getId()}">Статус:
                <span th:case="1" style="color: #a80b0b;" class="text" th:text="${order.status.getName()}"></span>
                <span th:case="2" style="color: #d95319;" class="text" th:text="${order.status.getName()}"></span>
                <span th:case="3" style="color: #b6921c;" class="text" th:text="${order.status.getName()}"></span>
                <span th:case="4" style="color: #3b9616;" class="text" th:text="${order.status.getName()}"></span>
            </p>
            <div th:if="${order.typeOfReceipt.getId() == 1 && order.status.getId() == 1}"
                 class="label-and-input-container">
                <label class="text" for="receipt_date">Дата й час отримання замовлення:</label>
                <input class="text-box" type="datetime-local" id="receipt_date" required min="Date.now()" />
            </div>
            <p th:if="${order.typeOfReceipt.getId() == 1 && order.status.getId() >= 2}"
               class="text"
               th:text="'Дата й час отримання замовлення: ' +${order.receiptDate}">
            </p>

            <p th:if="${order.typeOfReceipt.getId() == 2}"
               class="text"
               th:text="'Поштове відділення: ' +${order.deliveryAddress.region} +' область, '
          +${order.deliveryAddress.city} +', ' +${order.deliveryAddress.postAddress}">
            </p>
            <div th:if="${order.typeOfReceipt.getId() == 2 && order.status.getId() == 2}"
                 class="label-and-input-container">
                <label class="text" for="invoice_number">Номер накладної:</label>
                <input class="text-box" type="number" id="invoice_number" placeholder="0000000000000000" min="0" max="9999999999999999" minlength="16" maxlength="16" required />
            </div>
            <p th:if="${order.typeOfReceipt.getId() == 2 && order.status.getId() >= 3}"
               class="text"
               th:text="'Номер накладної: ' +${order.invoiceNumber}">
            </p>
        </div>


        <div th:if="${order.typeOfReceipt.getId() == 1 && order.status.getId() == 1}" class="order-options">
            <button class="btn btn-outline-secondary accept-order-with-pickup"
                    th:id="${order.id}"
                    onclick="acceptOrderWithPickup()">
                Підтвердити
            </button>
            <button class="btn btn-outline-danger decline-order"
                    th:id="${order.id}"
                    onclick="declineOrder()">
                Відхилити
            </button>
        </div>

        <div th:if="${order.typeOfReceipt.getId() == 2 && order.status.getId() == 1}"
             class="order-options">
            <button class="btn btn-outline-secondary accept-order-with-delivery"
                    th:id="${order.id}"
                    onclick="acceptOrderWithDelivery()">
                Підтвердити
            </button>
            <button class="btn btn-outline-danger decline-order"
                    th:id="${order.id}"
                    onclick="declineOrder()">
                Відхилити
            </button>
        </div>

        <div th:if="${order.typeOfReceipt.getId() == 2 && order.status.getId() == 2}"
             class="order-options">
            <button class="btn btn-outline-secondary mark-order-as-forwarded-for-delivery"
                    th:id="${order.id}"
                    onclick="markOrderAsForwardedForDelivery()">
                Позначити як передане на доставку
            </button>
        </div>

        <div th:if="${order.typeOfReceipt.getId() == 1 && order.status.getId() == 2
          || order.typeOfReceipt.getId() == 2 && order.status.getId() == 3}"
             class="order-options">
            <button class="btn btn-outline-secondary mark-order-as-received"
                    th:id="${order.id}"
                    onclick="markOrderAsReceived()">
                Позначити як отримане
            </button>
        </div>


        <div class="order-products-listing">
            <p class="label">Замовлені товари:</p>

            <div class="product-listing">
                <div th:each="item : ${orderItems}" class="product-card">
                    <div th:if="${!item.giftSet and !item.photos.isEmpty()}" class="product-img-container">
                        <a th:if="${!item.hasDeletedProduct}" th:href="@{/products/{id}(id=${item.productId})}">
                            <img
                                    th:src="'data:image/jpeg;base64,' + ${item.photos.get(0)}"
                                    class="product-img"
                                    alt="фото товару" />
                        </a>
                        <img
                                th:if="${item.hasDeletedProduct}"
                                th:src="'data:image/jpeg;base64,' + ${item.photos.get(0)}"
                                class="product-img"
                                alt="фото товару" />
                    </div>

                    <div th:if="${item.giftSet and !item.photos.isEmpty()}">
                        <a th:href="@{/admin/orders/{orderId}/giftSets/{giftSetId}(orderId=${order.id},giftSetId=${item.giftSetId})}"
                           class="gift-set-img-container">
                            <img
                                th:each="photo : ${item.photos}"
                                th:src="'data:image/jpeg;base64,' + ${photo}"
                                class="gift-set-img"
                                alt="фото товару в подарунковому наборі" />
                        </a>
                    </div>

                    <div class="product-info-container">
                        <p th:text="${item.name}"></p>
                        <p th:text="'Ціна: ' +${item.cost} +'₴'"></p>
                        <p th:text="'Кількість: ' + ${item.quantityInOrder}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/js/go_back.js"></script>
<script src="/js/admin/order_managing.js"></script>
</body>
</html>
