body {
    flex-direction: column;
    justify-content: flex-start;
}

/* ------- Logo ------- */

.logo-container {
    margin: 10px 3%;
    justify-content: left;
}

.logo-header {
    font-size: 15px;
}
@media (max-width: 768px) {
    .logo-header {
        margin: 0;
        margin-right: 20px;
    }
}

.logo-text {
    font-size: 10px;
}

/* ------- Main ------- */

.container {
    min-height: 85vh;
    height: 100%;
}

/* ----- Back & Menu Buttons ----- */

.header {
    border-bottom: 2px solid var(--main-border-color);
}

.header-menu-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 10px;
}

.menu-btn,
.back-btn {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: none;
    border: none;
}
.menu-btn > p {
    font-family: var(--text-font);
    font-size: 16px;
}

.menu-btn:hover {
    color: #c300ff;
}
.menu-btn:hover #menu_icon {
    content: url("../../icons/menu_icon2.png");
}
.back-btn:hover #back_icon {
    content: url("../../icons/back_icon2.png");
}

.menu-btn:active {
    color: #650085;
}
.menu-btn:active #menu_icon {
    content: url("../../icons/menu_icon3.png");
}
.back-btn:active #back_icon {
    content: url("../../icons/back_icon3.png");
}
