<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>HandCrafted: Меню</title>
  <link rel="stylesheet" href="/css/bases/general.css" />
  <link rel="stylesheet" href="/css/bases/auth_and_menu.css" />
  <link rel="stylesheet" href="/css/pages/menu.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap"
          rel="stylesheet" />
</head>
<body>
<div class="container">
  <header th:insert="layout :: header"></header>

  <main class="main-container">
    <div class="product-container">
      <a th:href="@{/products}">
        <button class="btn btn-outline-primary" id="all_products_btn">
          Усі товари
        </button>
      </a>
      <a th:href="@{/cart}">
        <button class="btn btn-outline-primary" id="cart_btn">
          Кошик
        </button>
      </a>
    </div>

    <div class="profile-container">
      <a th:href="@{/login}">
        <button class="btn btn-outline-secondary" id="login_btn">
          Увійти
        </button>
      </a>
      <a th:href="@{/register}">
        <button class="btn btn-outline-secondary" id="register_btn">
          Зареєструватися
        </button>
      </a>
    </div>
  </main>
</div>
</body>
</html>