<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HandCrafted: Cart</title>
    <link rel="stylesheet" href="/css/bases/general_base.css" />
    <link rel="stylesheet" href="/css/bases/main_base.css" />
    <link rel="stylesheet" href="/css/pages/user/cart.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Architects+Daughter&family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap"
            rel="stylesheet" />
</head>
<body id="body">
<header class="logo-container">
    <p class="logo-header">HandCrafted</p>
    <p class="logo-text">The place where you'll find what you've been looking for</p>
</header>
<main class="container main-container">
    <div class="header">
        <div class="header-menu-left">
            <a th:href="@{/menu}">
                <button class="back-btn" id="back_btn">
                    <img
                            id="back_icon"
                            src="/icons/back_icon1.png"
                            width="20px"
                            height="20px"
                            alt="back button" />
                </button>
            </a>
            <a th:href="@{/menu}">
                <button class="menu-btn" id="menu_btn">
                    <img
                            id="menu_icon"
                            src="/icons/menu_icon1.png"
                            width="30px"
                            height="30px"
                            alt="menu button" />
                    <p>Menu</p>
                </button>
            </a>
        </div>
    </div>

    <div class="main">
        <div class="product-listing">
            <div th:each="product : ${productsInCart}" class="product-card">
                <div class="product-img-and-info-container">
                    <div class="product-img-container">
                        <img
                                th:if="${product.photo}"
                                th:src="@{/api/v1/photos/{id}(id=${product.photo.getId()})}"
                                class="product-img"
                                width="150px"
                                height="150px"
                                alt="photo of the product" />
                        <img
                                th:unless="${product.photo}"
                                src="/icons/image.png"
                                class="product-img"
                                width="150px"
                                height="150px"
                                alt="photo of the product" />
                    </div>

                    <div class="product-info-container">
                        <p th:text="${product.productName}"></p>

                        <div class="product-price-container">
                            <p>Cost:</p>
                            <p th:text="${product.cost} +'$'"></p>
                        </div>

                        <div class="quantity-container">
                            <p>Quantity:</p>
                            <input
                                    type="number"
                                    th:id="'quantity_' + ${product.id}"
                                    class="text-box"
                                    min="1"
                                    th:max="${product.productQuantity}"
                                    th:value="${product.quantityInCart}" />
                        </div>
                    </div>
                </div>

                <div class="product-options-container">
                    <button class="btn btn-outline-secondary remove-btn" th:id="${product.id}">Remove</button>
                    <button class="btn btn-outline-secondary transfer-to-fav-btn" th:id="${product.id}">Transfer to favorite</button>
                </div>
            </div>
        </div>

        <div th:if="${productsInCart.isEmpty()}" class="empty-msg">Cart is empty</div>

        <div th:unless="${productsInCart.isEmpty()}" class="cart-price-and-options-container">
            <div class="total-price-container">
                <p>Total Price:</p>
                <p th:text="${totalPrice} +'$'"></p>
            </div>
            <a th:href="@{/cart/createOrder}">
                <button type="button" class="btn btn-outline-primary" id="create_order_btn">
                    Create Order
                </button>
            </a>
        </div>
    </div>
</main>
<script type="text/javascript" th:src="@{/js/cart.js}"></script>
</body>
</html>