<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HandCrafted: Змінити пароль</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <link rel="stylesheet" href="/css/bases/general.css" />
    <link rel="stylesheet" href="/css/bases/main.css" />
    <link rel="stylesheet" href="/css/pages/user/fill_order_data.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap"
            rel="stylesheet" />

    <style>
        .alert {
            grid-column: 1/3;
            margin-bottom: 20px;
        }

        .data-container {
            grid-template-columns: auto auto;
        }
    </style>
</head>
<body>
<header th:insert="layout :: header"></header>

<main class="container main-container">
    <form th:action="@{/changePassword}" th:object="${newUserPassword}" method="POST" class="form-container">
        <div class="data-container">
            <div th:if="${message}" role="alert" th:text="${message}" class="alert"></div>

            <label for="old_password" class="label">Введіть поточний пароль:</label>
            <input
                    type="password"
                    name="oldPassword"
                    class="text-box"
                    id="old_password"
                    placeholder="password"
                    minlength="8"
                    maxlength="16"
                    required />

            <label for="new_password" class="label">Придумайте новий пароль:</label>
            <input
                    type="password"
                    name="newPassword"
                    class="text-box"
                    id="new_password"
                    placeholder="new password"
                    minlength="8"
                    maxlength="16"
                    pattern="^(?=.*[A-ZА-ЯІЇЄ])(?=.*[a-zа-яіїє])(?=.*\d)[A-Za-zА-Яа-яІіЇїЄє\d]{8,16}$"
                    title="Пароль має містити від 8 до 16 символів, включаючи хоча б одну велику і малу літеру та хоча б одну цифру."
                    required />

            <label for="submit_new_password" class="label">Повторіть новий пароль:</label>
            <input
                    type="password"
                    name="submitNewPassword"
                    class="text-box"
                    id="submit_new_password"
                    placeholder="new password"
                    minlength="8"
                    maxlength="16"
                    pattern="^(?=.*[A-ZА-ЯІЇЄ])(?=.*[a-zа-яіїє])(?=.*\d)[A-Za-zА-Яа-яІіЇїЄє\d]{8,16}$"
                    title="Пароль має містити від 8 до 16 символів, включаючи хоча б одну велику і малу літеру та хоча б одну цифру."
                    required />
        </div>

        <div class="options-container">
            <a th:href="@{/editProfile}">
                <button type="button" class="btn btn-outline-secondary" id="cancel_btn">
                    Скасувати
                </button>
            </a>
            <button type="submit" name="submit" class="btn btn-outline-primary" id="save_btn">
                Зберегти новий пароль
            </button>
        </div>
    </form>
</main>
</body>
</html>