<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HandCrafted: Формування замовлення</title>
    <link rel="stylesheet" href="/css/bases/general.css" />
    <link rel="stylesheet" href="/css/bases/main.css" />
    <link rel="stylesheet" href="/css/pages/guest/cart.css" />
    <link rel="stylesheet" href="/css/pages/user/create_order.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&display=swap"
            rel="stylesheet" />
</head>
<body>
<header th:insert="layout :: header"></header>

<main class="container main-container">
    <div class="main">
        <div class="product-listing">
            <div th:each="cartItem : ${cartItems}" class="product-card">
                <div th:if="${!cartItem.giftSet and !cartItem.photos.isEmpty()}" class="product-img-container">
                    <img
                            th:src="'data:image/jpeg;base64,' + ${cartItem.photos.get(0)}"
                            class="product-img"
                            alt="фото товару" />
                </div>

                <div th:if="${cartItem.giftSet and !cartItem.photos.isEmpty()}" class="gift-set-img-container">
                    <img
                            th:each="photo : ${cartItem.photos}"
                            th:src="'data:image/jpeg;base64,' + ${photo}"
                            class="gift-set-img"
                            alt="фото товару в подарунковому наборі" />
                </div>

                <div class="product-info-container">
                    <p th:text="${cartItem.name}"></p>

                    <div class="product-price-container">
                        <p th:text="'Ціна: ' +${cartItem.cost} +'₴'"></p>
                    </div>

                    <div th:unless="${cartItem.giftSet}" class="quantity-container">
                        <p th:text="'Кількість: ' +${cartItem.quantityInCart}"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="cart-price-and-options-container">
            <div class="total-price-container">
                <p>Загальна вартість:</p>
                <p th:text="${totalPrice} +'₴'"></p>
            </div>
            <div class="cart-options-container">
                <a th:href="@{/cart}">
                    <button type="button" class="btn btn-outline-secondary" id="cancel_btn">
                        Скасувати
                    </button>
                </a>
                <a th:href="@{/orders/new/fillInTheOrderData}">
                    <button class="btn btn-outline-primary" id="continue_btn">
                        Продовжити
                    </button>
                </a>
            </div>
        </div>
    </div>
</main>
</body>
</html>