<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HandCrafted: Order Review</title>
    <link rel="stylesheet" href="/css/bases/general_base.css" />
    <link rel="stylesheet" href="/css/bases/main_base.css" />
    <link rel="stylesheet" href="/css/pages/order.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Architects+Daughter&family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap"
            rel="stylesheet" />
</head>
<body>
<header class="logo-container">
  <p class="logo-header">HandCrafted</p>
  <p class="logo-text">The place where you'll find what you've been looking for</p>
</header>

<main class="container main-container">
  <div class="header">
    <div class="header-menu-left">
      <a th:href="@{/menu}">
        <button class="back-btn" id="back_btn">
          <img
                  id="back_icon"
                  src="/icons/back_icon1.png"
                  width="20px"
                  height="20px"
                  alt="back button" />
        </button>
      </a>
      <a th:href="@{/menu}">
        <button class="menu-btn" id="menu_btn">
          <img
                  id="menu_icon"
                  src="/icons/menu_icon1.png"
                  width="30px"
                  height="30px"
                  alt="menu button" />
          <p>Menu</p>
        </button>
      </a>
    </div>
  </div>

  <div class="main">
    <div class="order-card">
      <p class="text" th:text="'Order ID: ' +${order.id}"></p>
      <p class="text" th:text="'Total Price: ' +${order.price} +'$'"></p>
      <p class="text" th:text="'Type of Order Receipt: ' +${order.typeOfReceipt.getName()}"></p>
      <p class="text" th:text="'Formation Date & Time: ' +${order.formationDate}"></p>
      <p class="text" th:switch="${order.status.getId()}">Status:
        <span th:case="1" style="color: #a80b0b;" class="text" th:text="${order.status.getName()}"></span>
        <span th:case="2" style="color: #d95319;" class="text" th:text="${order.status.getName()}"></span>
        <span th:case="3" style="color: #b6921c;" class="text" th:text="${order.status.getName()}"></span>
        <span th:case="4" style="color: #3b9616;" class="text" th:text="${order.status.getName()}"></span>
      </p>
      <p th:if="${order.typeOfReceipt.getId() == 1}"
         class="text"
         th:text="'Date & Time of receipt: ' +${order.receiptDate != null ? order.receiptDate : 'Not agreed yet'}">
      </p>
      <p th:if="${order.typeOfReceipt.getId() == 2}"
         class="text"
         th:text="'Post Office: ' +${order.deliveryAddress.region} +' Region, '
          +${order.deliveryAddress.city} +', ' +${order.deliveryAddress.postAddress}">
      </p>
      <p th:if="${order.typeOfReceipt.getId() == 2 && order.status.getId() >= 3}"
         class="text"
         th:text="'Invoice number: ' +${order.invoiceNumber}">
      </p>
    </div>

    <div th:if="${order.status.getId() == 1}" class="order-options">
      <button class="btn btn-outline-danger cancel-order-btn" th:id="${order.id}">
        Cancel Order
      </button>
    </div>

    <div class="order-products-listing">
      <p class="label">Ordered Goods:</p>

      <div class="product-listing">
        <div th:each="product : ${products}" class="product-card">
          <div class="product-img-container">
            <img
                    th:if="${product.product.photo}"
                    th:src="@{/api/v1/photos/{id}(id=${product.product.id})}"
                    class="product-img"
                    alt="photo of the product" />
            <img
                    th:unless="${product.product.photo}"
                    src="/icons/image.png"
                    class="product-img"
                    alt="photo of the product" />
          </div>

          <div class="product-info-container">
            <p th:text="${product.product.name}"></p>
            <p th:text="'Cost: ' +${product.productCost} +'$'"></p>
            <p th:text="'Quantity: ' + ${product.quantityInOrder}"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="/js/order.js"></script>
</body>
</html>
