<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HandCrafted: Registration</title>
  <link rel="stylesheet" href="/css/bases/general_base.css" />
  <link rel="stylesheet" href="/css/bases/auth_and_menu_base.css" />
  <link rel="stylesheet" href="/css/pages/user/registration.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Architects+Daughter&family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap"
          rel="stylesheet" />
</head>
<body>
<div class="container">
  <header class="logo-container">
    <p class="logo-header">HandCrafted</p>
    <p class="logo-text">The place where you'll find what you've been looking for</p>
  </header>

  <main class="main-container">
    <form class="form-container">
      <label for="name" class="label">Enter Your Name:</label>
      <input
              type="text"
              class="text-box"
              id="name"
              placeholder="Name"
              maxlength="20" />
      <label for="surname" class="label">Enter Your Surname:</label>
      <input
              type="text"
              class="text-box"
              id="surname"
              placeholder="Surname"
              maxlength="20" />
      <label for="user_name" class="label">Create UserName:</label>
      <input
              type="text"
              class="text-box"
              id="user_name"
              placeholder="user_name"
              maxlength="20" />
      <label for="password1" class="label">Create Password:</label>
      <input
              type="password"
              class="text-box"
              id="password1"
              placeholder="password"
              maxlength="12" />
      <label for="password2" class="label">Repeat Password:</label>
      <input
              type="password"
              class="text-box"
              id="password2"
              placeholder="password"
              maxlength="12" />
    </form>

    <div class="btn-container">
      <button class="btn btn-outline-primary" id="sign_up_btn">Sign Up</button>
      <a th:href="@{'/'}">
        <button class="btn btn-outline-secondary" id="cancel_btn">Cancel</button>
      </a>
    </div>
  </main>
</div>
</body>
</html>
