<!DOCTYPE html>
<html lang="en">
<head>
  <title>HandCrafted</title>
  <link rel="stylesheet" href="/css/bases/general_base.css" />
  <link rel="stylesheet" href="/css/pages/user/start.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Architects+Daughter&family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap"
          rel="stylesheet" />
</head>
<body>
<div class="container">
  <header class="logo-container">
    <p class="logo-header">HandCrafted</p>
    <p class="logo-text">The place where you'll find what you've been looking for</p>
  </header>
  <main class="btn-container">
    <a th:href="@{'authorize'}">
      <button class="btn btn-outline-primary" id="login_btn">Login</button>
    </a>
    <a th:href="@{'register'}">
      <button class="btn btn-outline-primary" id="register_btn">Register</button>
    </a>
  </main>
</div>
</body>
</html>
