<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>HandCrafted: Registration</title>
  <link rel="stylesheet" href="/css/bases/general_base.css" />
  <link rel="stylesheet" href="/css/bases/auth_and_menu_base.css" />
  <link rel="stylesheet" href="/css/pages/user/registration.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Architects+Daughter&family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap"
          rel="stylesheet" />
</head>
<body>
<div class="container">
  <header class="logo-container">
    <p class="logo-header">HandCrafted</p>
    <p class="logo-text">The place where you'll find what you've been looking for</p>
  </header>

  <main>
    <p th:if="${message}" th:text="${message}" class="error-msg"></p>

    <form th:action="@{/register}" th:object="${user}" method="POST" class="form-container">
      <div class="data-container">
        <label for="name" class="label">Enter Your Name:</label>
        <input
                th:field="*{name}"
                name="name"
                type="text"
                class="text-box"
                id="name"
                placeholder="Name"
                minlength="2"
                maxlength="20"
                required
                pattern="\w{2,20}" />

        <label for="surname" class="label">Enter Your Surname:</label>
        <input
                th:field="*{surname}"
                name="surname"
                type="text"
                class="text-box"
                id="surname"
                placeholder="Surname"
                minlength="2"
                maxlength="20"
                required
                pattern="\w{2,20}" />

        <label for="user_name" class="label">Create UserName:</label>
        <input
                th:field="*{userName}"
                name="username"
                type="text"
                class="text-box"
                id="user_name"
                placeholder="user_name"
                minlength="8"
                maxlength="20"
                required />

        <label for="password" class="label">Create Password:</label>
        <input
                th:field="*{password}"
                name="password"
                type="password"
                class="text-box"
                id="password"
                placeholder="password"
                minlength="6"
                maxlength="12"
                required />
      </div>

      <div class="btn-container">
        <button type="submit" name="submit" class="btn btn-outline-primary" id="sign_up_btn">Sign Up</button>
        <a th:href="@{/}">
          <button type="button" class="btn btn-outline-secondary" id="cancel_btn">Cancel</button>
        </a>
      </div>
    </form>
  </main>
</div>
<script src="/js/registration_validation.js"></script>
</body>
</html>
